<mat-card class="example-card container bg-light">
    <div class="row">
        <div class="col">
            <mat-card-header>
                <mat-card-title>Title</mat-card-title>
                <mat-card-subtitle>Autor</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-stroked-button (click)="getSuggestion()">Suggestions</button>
            </mat-card-actions>
        </div>
        <a href="{{ generateURL() }}" target="_blank"class="col ">
            <img mat-card-image src="{{imageSrc}}" (error)="updateUrl()" >
        </a>
        <div class="col " *ngIf="displaySuggestion">
            <p>{{ suggestions | json }}</p>
        </div>
    </div>
</mat-card>
