<div>
    <h1 class="display-4 text-center">Bibliothèque de Gutenberg!</h1>


    <div class="input-group input-group-lg mb-5">
        <div class="input-group-prepend dropdown">
            <button class="btn btn-secondary dropdown-toggle input-group-text"
                    type="button"
                    data-toggle="dropdown">Trier</button>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
            <mat-option value="option">Option</mat-option>
        </mat-select>
    </mat-form-field>
</div>
