<div>
    <h1    class="display-4 text-center mb-lg-5">Bibliothèque de Gutenberg!</h1>

    <div class="text-center">
         <form #searchBooks="ngForm" (ngSubmit)="onSubmit(searchBooks)">
            <mat-form-field appearance="fill">
                <mat-label>Filtrer</mat-label>
                <mat-select ngModel name="filtre">
                    <mat-option value="default">default</mat-option>
                    <mat-option value="closness">closness</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Word to search</mat-label>
                <input ngModel name="word" required matInput placeholder="Ex. Pizza">
            </mat-form-field>
            <button type="submit" class="btn btn-outline-secondary btn-lg mb-3">Search!</button>
         </form>
    </div>

    {{ filesName | json }}
</div>
